.upload-area {
  background-color: var(--fileUploadbg);
  padding: 2rem;
  border: 2px dashed #555;
  border-radius: 12px;
  cursor: pointer;
  display: block;
  position: relative;
  transition: background-color 0.2s ease;
}

.upload-area.drag-active {
  background-color: var(--dragColor);
}

.uploaded-image {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
}
