.custom-checkbox .form-check-input:checked {
  background-color: #ba24d5;
  border-color: #ba24d5;
  transition: all 0.3s ease;
}
.custom-checkbox .form-check-input {
  border-radius: 2px !important;
  transform: scale(1.1);
}

.custom-checkbox span {
  font-size: 14px;
}
.custom-checkbox .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(186, 36, 213, 0.5);
  border-radius: 6px;
}

.customCheckBox .form-check-input:checked {
  background-color: #000000 !important;
  border-color: #000000 !important;
  transform: scale(1.3);
}
.custom-checkbox .form-check-input:checked {
  transition: all 0.3s ease;
}

.customCheckBox .form-check-input:focus {
  box-shadow: none;
  border-color: #000000 !important;
  transition: all 0.3s ease;
}

.customCheckBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
}

.customCheckBox label:hover {
  color: #24d5a0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.customCheckBox .form-check-input:hover {
  cursor: pointer;
  transition: all 0.3s ease;
}
