.bgHome {
  background: url("/mons/background-svg.svg");
  background-size: cover;
  height: 100vh;
  width: 100wh;
  background-repeat: no-repeat;
}

.w-100-mobile {
  width: 70%;
  padding: 20px;
}
@media (max-width: 1326px) {
  .bgHome {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.bodyBackground {
  background-size: cover !important;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.w65 {
  width: 65%;
}

@media (max-width: 1326px) {
  .w65 {
    width: 100%;
  }
}

.mainText {
  font-weight: 700;
  font-size: 32px;

  color: #89feff;
}

@media (max-width: 1326px) {
  .mainText {
    font-size: 25px;
  }
}

.mainTextHuge {
  line-height: 48px;
  font-weight: 700;
  font-size: 45px;
  color: #68d1d3;
}
.mainTextHugev2 {
  line-height: 45px;
  font-weight: 700;
  font-size: 38px;
  color: #68d1d3;
}

@media (max-width: 1326px) {
  .mainTextHuge {
    line-height: 40px;
    font-size: 33px;
  }
  .mainTextHugev2 {
    line-height: 28px;
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .mainTextHuge {
    margin-top: 50px;
    font-size: 25px !important;
    line-height: 30px;
    font-weight: 600;
  }
  .mainTextHugev2 {
    font-size: 20px !important;
    line-height: 22px;
    font-weight: 600;
  }
  .mainText {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
  }
  .w-100-mobile {
    width: 100%;
    padding: 20px;
    margin-top: 70px !important;
  }
}

.mainTextMin {
  font-weight: 300;
  font-size: 24px;
  line-height: 39px;
  color: #fff;
}

@media (max-width: 1326px) {
  .mainTextMin {
    font-size: 15px;
  }
}

.mainTextMin.dark {
  color: var(--landing);
}

.borderRight {
  border-right: 1px solid var(--primary);
  height: 100%;
}

@media (max-width: 751px) {
  .borderRight {
    border-right: none;
  }
}

.middleText {
  font-weight: 700;
  font-size: 40px;
  color: var(--landing);
  line-height: 36px;
}

.middleTextMin {
  font-weight: 600;
  font-size: 17px;
  line-height: 21.8px;
  color: var(--primary);
}

.borderBottom {
  border-bottom: 1px solid var(--primary);
}

.middleHead {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  line-height: 86px;
  color: var(--landing);
}

@media (max-width: 1326px) {
  .middleHead {
    font-size: 26px;
    line-height: 60px;
  }
}

.colorfull {
  color: #217989;
}

.homeContainer {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 751px) {
  .homeContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1326px) {
  .marginResponsive {
    margin-top: 90px !important;
  }
}

@media (max-width: 1326px) {
  .mobileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.moreButton {
  width: 217px;
  height: 50px;
  background-color: transparent;
  color: #27839b;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  border: 1px solid var(--primary);
  border-radius: 12px;
}

.footerText {
  color: var(--landing);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1326px) {
  .mobileCenter {
    display: flex;
    justify-content: center;
  }
}

.currency-logo {
  border-radius: 99px;
  height: 30px;
  width: 30px;
}

.ant-web3-nft-card-container {
  width: 400px !important;
  // &.light {
  //   background: linear-gradient(135deg, #ffffff, #bcedf6);
  // }

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.css-dev-only-do-not-override-zi6mul.ant-web3-nft-card-container.ant-web3-nft-card-theme-dark
  .ant-web3-nft-card-inner {
  background: none !important; /* Gelen background'u sıfırlama */
  background-image: radial-gradient(
      circle at 52% 112%,
      rgba(77, 186, 255, 0.53) 0%,
      rgba(0, 0, 0, 0) 58%
    ),
    radial-gradient(circle at 50% 38%, #ffffff -50%, rgba(0, 0, 0, 0.21) 53%) !important;
}

.css-zi6mul.ant-web3-nft-card-container.ant-web3-nft-card-theme-dark
  .ant-web3-nft-card-inner {
  background: none !important; /* Gelen background'u sıfırlama */
  background-image: radial-gradient(
      circle at 52% 112%,
      rgba(77, 186, 255, 0.53) 0%,
      rgba(0, 0, 0, 0) 58%
    ),
    radial-gradient(circle at 50% 38%, #ffffff -50%, rgba(0, 0, 0, 0.21) 53%) !important;
}
.css-dev-only-do-not-override-1x0dypw.ant-web3-nft-card-container
  .ant-web3-nft-card-inner {
  padding: 16px !important;
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
  background-image: radial-gradient(
      circle at 50% 0%,

      #1c864d,
      rgba(255, 0, 0, 0) 58%
    ),
    radial-gradient(
      circle at 50% 0%,
      rgba(138, 220, 207, 0.53) 50%,
      rgba(0, 0, 0, 0) 53%
    ) !important;
}
.ant-web3-nft-card-description {
  min-height: 48px;
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.css-1x0dypw.ant-web3-nft-card-container .ant-web3-nft-card-inner {
  padding: 16px !important;
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
  background-image: radial-gradient(
      circle at 50% 0%,

      #1c864d,
      rgba(255, 0, 0, 0) 58%
    ),
    radial-gradient(
      circle at 50% 0%,
      rgba(138, 220, 207, 0.53) 50%,
      rgba(0, 0, 0, 0) 53%
    ) !important;
}
@media (max-width: 1342px) {
  .ant-web3-nft-card-container {
    width: 300px !important;
  }
}
@media (max-width: 1051px) {
  .ant-web3-nft-card-container {
    width: 250px !important;
  }
}
@media (max-width: 990px) {
  .ant-web3-nft-card-container {
    width: 100% !important;
  }
}
.ant-web3-nft-card-container:hover {
  transition: 0.3s all ease-in-out !important;
  opacity: 1 !important;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(-5px) !important;
}
.ant-web3-nft-card-container:not(:hover) {
  transition: 0.3s all ease-in-out !important;
  transform: translateY(0) !important;
}
.ant-btn-default {
  font-size: 18px !important;
}

// new designs
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.home {
  display: flex;
  height: 100dvh;
  //background: linear-gradient(to top, #d2e2fb 30%, #86a8db);
  position: relative;
  overflow: hidden;
}
.home .bush1 {
  width: 100%;
}
.home .title {
}
.my-position-absolute {
  position: absolute;
  bottom: 0;
  left: 0; /* Sol tarafa yerleştir */
  right: 0; /* Sağ tarafa yerleştir */
  display: inline-flex !important; /* Flexbox ile öğeleri yatayda hizala */
  justify-content: space-between !important; /* Öğeleri aralarına mesafe koyarak yay */
  align-items: center; /* Yükseklikleri ortala */
  width: 100% !important; /* Konteyneri tüm genişlik boyunca yay */
}
.home .title {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-wrap: break-word;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.home img {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.mount1 {
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  object-fit: cover;
  width: 100%;
}

// .home .title {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   color: white;
//   font-size: 70px;
//   text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
//   text-align: center;
// }

.home .subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  line-height: 32px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding-top: 200px;
  text-align: center;
}
@media (max-width: 1475px) {
  .home .title {
    // font-size: 45px;
  }
  .home .subtitle {
    font-size: 18px;
  }
}

.hero-btn {
}
@media (max-width: 1338px) {
  .home-btn {
    margin-top: 15rem !important;
  }
}

.animated {
  opacity: 0;
}

.fadeInUp {
  animation: fadeInUp 0.3s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%, -50%);
  }
}

.img-hover {
  transition: 0.3s ease-in-out !important;
}
.img-hover:hover {
  transform: scale(1.04);
}
.delay-1s {
  animation-delay: 0.5s;
}

.text-70-600 {
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: -0.03em;
  text-align: center;
}

.text-20-500 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #c6f3ff;
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0px solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background: -webkit-radial-gradient(#207989, #43bfc0);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#207989#43bfc0);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 0.6rem 1.5rem;

  position: relative;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .btn-53 {
    font-size: 16px;
  }
  .mainText {
    font-size: 26px;
  }
}

.btn-53 .original {
  background: linear-gradient(
    180deg,
    #258998 -81.45%,
    #189eb0 -29.53%,
    #00c3da 46.75%,
    #61d6e7 87.78%,
    #c2eaf5 165.32%
  );
  color: #fff;
  display: grid;
  border-radius: 4px !important;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}
.btn-53 span:nth-child(3) {
  margin-right: 5px;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
.btn-53:hover span:nth-child(7) {
  transition-delay: 0.6s;
}
.btn-53:hover span:nth-child(8) {
  transition-delay: 0.7s;
}
.btn-53:hover span:nth-child(9) {
  transition-delay: 0.8s;
}
.btn-53:hover span:nth-child(10) {
  transition-delay: 0.9s;
}
.title,
.leaf1,
.leaf2,
.bush2,
.mount1,
.mount2 {
  transition: margin 0.7s ease-out;
}
@media (max-width: 1000px) {
  .title {
    top: 45% !important;
  }
}

@media (max-width: 565px) {
  .text-70-600 {
    font-size: 45px;
    margin-bottom: -50px;
  }
  .text-20-500 {
    font-size: 16px;
    line-height: 18px;
  }
  .btn-53 {
    font-size: 18px;
  }
  .title {
    top: 30% !important;
  }
  .leaf1 {
    height: 500px;
    width: 900px !important;
  }
  .leaf2 {
    // transform: translateY(-50%);
    height: 600px;
  }
}
.nft-ct {
  width: 200px !important;
}
.turn-right {
  transform: scaleX(-1);
}

.nft-ct-v2 {
  width: 350px !important;
  transform: scaleX(1);
}
.nft-ct-v3 {
  width: 350px !important;
  transform: scaleX(-1);
}

@media (max-width: 1440px) {
  .nft-ct {
    width: 150px !important;
  }

  .nft-ct-v2 {
    width: 250px !important;
  }
  .nft-ct-v3 {
    width: 250px !important;
  }
}

.left-none {
  left: 0;
}
.left-second {
  left: 14%;
}
.left-third {
  left: 24%;
}
.left-fourth {
  left: 35%;
}
.left-five {
  left: 54%;
}
.left-six {
  left: 66%;
}
.left-seven {
  left: 75%;
}
.left-eight {
  left: 82%;
}
.show-mobile {
  display: none;
}
@media (max-width: 768px) {
  .nft-ct {
    width: 100px !important;
  }
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: inherit;
  }

  .nft-ct-v2 {
    width: 175px !important;
  }
  .nft-ct-v3 {
    width: 175px !important;
  }
  .left-none {
    left: -3% !important;
  }
  .left-second {
    display: none;
  }
  .left-third {
    display: none !important;
  }
  .left-fourth {
    left: 11%;
  }
  .left-five {
    display: none;
  }
  .left-six {
    left: 52%;
  }
  .left-seven {
    display: none;
  }
  .left-eight {
    left: 63%;
  }
  .my-position-absolute {
    height: 300px;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-move-up-down {
  animation: moveUpDown 3s ease-in-out infinite;
}

.slide-left {
  animation: moveUpDown 3s ease-in-out infinite, slideInLeft 1.5s ease-in-out !important;
}

.slide-right {
  animation: moveUpDown 3s ease-in-out infinite, slideInRight 1.5s ease-in-out !important;
}
.animated-border {
  border-radius: 20px;
  border: 1px solid transparent;
}
.page-container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  // height: calc(100vh - 80px);
  @media (max-width: 991px) {
    height: auto;
  }
}
.detail-container {
  border: 1px solid #a3a3a3;
  border-radius: 8px;
}
